<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Student management system</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>welcom，{{ user.username }}！</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
    {% else %}
        <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}
   
    
    {% block content %}
 
    {% endblock %}
    

</body>
</html>
